<%page args="section_data" expression_filter="h"/>
<%namespace name='static' file='/static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from openedx.core.djangolib.markup import HTML, Text
%>

<div class="data-download-container  action-type-container">
    <ul class="data-download-nav">

        <li class="nav-item ">
            <button type="button" class="btn-link reports  active-section" data-section="reports">Reports</button>
        </li>
        %if settings.FEATURES.get('ENABLE_GRADE_DOWNLOADS'):
        <li class="nav-item">
            <button type="button" class="btn-link problem-report" data-section="problem">Problem Report</button>
        </li>
        <li class="nav-item">
            <button type="button" class="btn-link certificates" data-section="certificate">Certificates</button>
        </li>
        %if settings.FEATURES.get('ALLOW_COURSE_STAFF_GRADE_DOWNLOADS') or section_data['access']['admin']:
        <li class="nav-item">
            <button type="button" class="btn-link grading" data-section="grading">Grading</button>
        </li>
        %endif
        %endif

    </ul>
    <section id="reports" class="idash-section tab-data" aria-labelledby="header-reports">
        <h6 class="mb-15" id="header-reports">
            <strong>${_("NOTE")}: </strong>
            Please select the report type and then click Download Report button
        </h6>
        <div class="mb-15">

            <div class="mb-5">
                <select class="report-type selector">
                    <option value="gradingConfiguration"
                            data-endpoint="${ section_data['get_grading_config_url'] }">
                        Grading Configuration
                    </option>
                    <option value="listAnonymizeStudentIDs" data-endpoint="${ section_data['get_anon_ids_url'] }"
                            class="${'is-disabled' if disable_buttons else ''}"
                            aria-disabled="${'true' if disable_buttons else 'false'}">Anonymized Student IDs
                    </option>
                    %if settings.FEATURES.get('ENABLE_GRADE_DOWNLOADS'):
                    <option value="profileInformation"
                            data-endpoint="${ section_data['get_students_features_url'] }"
                            data-csv="true">Profile Information
                    </option>
                    <option value="learnerWhoCanEnroll"
                            data-endpoint="${ section_data['get_students_who_may_enroll_url'] }" data-csv="true">
                        Learner
                        who can enroll
                    </option>
                    <option value="listEnrolledPeople"
                            data-endpoint="${ section_data['get_students_features_url'] }">
                        List enrolled students profile information
                    </option>
                    %if section_data['show_generate_proctored_exam_report_button']:
                    <option value="proctoredExamResults"
                            data-endpoint="${ section_data['list_proctored_results_url'] }">Proctored exam results
                    </option>
                    %endif
                    %if section_data['course_has_survey']:
                    <option value="surveyResultReport"
                            data-endpoint="${ section_data['course_survey_results_url'] }">
                        Survey Result report
                    </option>
                    %endif
                    %if settings.FEATURES.get('ALLOW_COURSE_STAFF_GRADE_DOWNLOADS') or section_data['access']['admin']:
                    <option value="ORADataReport" data-graderelated="true"
                            data-endpoint="${ section_data['export_ora2_data_url'] }">ORA Data
                        report
                    </option>
                    <option data-graderelated="true" value="problemGradeReport"
                    data-endpoint="${ section_data['problem_grade_report_url'] }">Problem Grade report
                    </option>
                    %endif
                    %endif
                </select>
                <button class="btn-brand download-report ml-10" type="button" value="download report">Download
                    report
                </button>
            </div>

        </div>

        <div>
            <p class="selectionInfo gradingConfiguration">${_("Click to display the grading configuration for the \
                course. The grading configuration is the breakdown of graded subsections of the course \
                (such as exams and problem sets), and can be changed on the 'Grading' \
                page (under 'Settings') in Studio.")}</p>
            <p hidden="hidden" class="selectionInfo listAnonymizeStudentIDs">${_("Click to download a CSV of \
                anonymized student IDs:")}</p>

            <p hidden="hidden" class="selectionInfo reports"> ${_("For large courses, generating some reports can take \
                several hours. When report generation is complete, a \
                link that includes the date and time of generation appears in the table below. These reports are \
                generated in the background, meaning it is OK to navigate away from this page while your report is \
                generating.")}</p>

            <p hidden="hidden" class="selectionInfo reports">${_("Please be patient and do not click these buttons \
                multiple times. Clicking these buttons multiple times will significantly slow the generation \
                process.")}
            </p>
            % if not disable_buttons:
            <p hidden="hidden" class="selectionInfo listEnrolledPeople">${_("For smaller courses, click to list \
                profile information for enrolled students directly on this page:")}</p>
            %endif
            <p hidden="hidden" class="selectionInfo reports profileInformation">${_("Click to generate a CSV file of \
                all students enrolled in this course, along with profile information such as email address and \
                username:")}</p>

            <p hidden="hidden" class="selectionInfo reports learnerWhoCanEnroll">${_("Click to generate a CSV file \
                that lists learners who can enroll in the course but have not yet done so.")}</p>

            <p hidden="hidden" class="selectionInfo reports proctoredExamResults">${_("Click to generate a CSV file \
                of all proctored exam results in this course.")}</p>

            <p hidden="hidden" class="selectionInfo reports surveyResultReport">${_("Click to generate a CSV file of \
                survey results for this course.")}</p>
        </div>

    </section>
    %if settings.FEATURES.get('ENABLE_GRADE_DOWNLOADS'):
    <section id="certificate" class="idash-section tab-data" aria-labelledby="header-cert">
        <h6 class="mb-15" id="header-cert">
            <strong>${_("NOTE")}: </strong>
            Please select the report type and then click Download Report button
        </h6>

        <select class="report-type selector">
            <option value="viewCertificates" data-csv="false"
                    data-endpoint="${ section_data['get_issued_certificates_url'] }">View certificates
            </option>
            <option value="downloadCertificates" data-csv="true"
                    data-endpoint="${ section_data['get_issued_certificates_url'] }">Download csv of
                certificates
            </option>
        </select>
        <button  class="mb-20 btn-brand download-report ml-10" type="button" value="download report">Download
            report
        </button>
        <div>
            <p>${_("Click to list certificates that are issued for this course:")}</p>
        </div>
    </section>
    <section id="problem" class="idash-section tab-data" aria-labelledby="header-problem">
        <h6 class="mb-20" id="header-problem">
            ${_("Select a problem to generate a CSV \
            file that lists all student answers to the problem. You also select a section or chapter to include \
            results of all problems in that section or chapter.")}
        </h6>
        <div class="mb-15 problems">
            ${static.renderReact(
            component="ProblemBrowser",
            id="react-block-listing",
            props={
            "courseId": course.id,
            "excludeBlockTypes": ['html', 'video', 'discussion']
            }
            )}
        </div>
        <button data-endpoint="${ section_data['get_problem_responses_url'] }" id="download-problem-report"
                class="btn-brand mb-20" type="button" value="download report">Download
            report
        </button>
        <% max_entries = settings.FEATURES.get('MAX_PROBLEM_RESPONSES_COUNT') %>
        %if max_entries is not None:
        <p class="mb-15">
            <strong>${_("NOTE")}: </strong>
            ${_("The generated report is limited to {max_entries} responses. If you expect more than {max_entries} "
            "responses, try generating the report on a chapter-by-chapter, or problem-by-problem basis, or contact "
            "your site administrator to increase the limit.").format(max_entries=max_entries)}
        </p>
        %endif
    </section>
    %if settings.FEATURES.get('ALLOW_COURSE_STAFF_GRADE_DOWNLOADS') or section_data['access']['admin']:
    <section id="grading" class="idash-section tab-data" aria-labelledby="header-grading">
        <h6 class="mb-15" id="header-grading">
            <strong>${_("NOTE")}: </strong>
            Please select learner status and then click Download Report button to download Course Grade Report
        </h6>
        <br>

        <p>Learner status</p>
        <select class="learner-status selector">
            <option value="true">Verified Learners Only</option>
            <option value="false">All Learners</option>
        </select>

        <button class="mb-20 btn-brand grade-report-download ml-10" type="button"
                value="download report"
                data-endpoint="${ section_data['calculate_grades_csv_url'] }">Download Report
        </button>
        <div>
            <p>${_("Click to generate a CSV grade report for all currently enrolled students.")}</p>
        </div>
    </section>
    %endif
    %endif
    <div class="request-response message msg-confirm copy" id="report-request-response"></div>
    <div class="request-response-error message msg-error copy" id="report-request-response-error"></div>

</div>

<div class="reports-download-container action-type-container">
    <div class="data-display-text" id="data-grade-config-text"></div>
    <div class="data-display-table profile-data-display-table" id="data-student-profiles-table"></div>
    <div class="data-display-table certificate-data-display-table" id="data-issued-certificates-table"></div>
    <hr>

    <h3 class="hd hd-3">${_("Reports Available for Download")}</h3>
    <p>
        ${_("The reports listed below are available for download, identified by UTC date and time of generation.")}
    </p>

    %if settings.FEATURES.get('ENABLE_ASYNC_ANSWER_DISTRIBUTION'):
    <p>
        ${_("The answer distribution report listed below is generated periodically by an automated background process. \
        The report is cumulative, so answers submitted after the process starts are included in a subsequent report. \
        The report is generated several times per day.")}
    </p>
    %endif

    ## Translators: a table of URL links to report files appears after this sentence.
    <p>
        ${Text(_("{strong_start}Note{strong_end}: {ul_start}{li_start}To keep student data secure, you cannot save or \
        email these links for direct access. Copies of links expire within 5 minutes.{li_end}{li_start}Report files \
        are deleted 90 days after generation. If you will need access to old reports, download and store the files, \
        in accordance with your institution's data security policies.{li_end}{ul_end}")).format(
            strong_start=HTML("<strong>"),
            strong_end=HTML("</strong>"),
            ul_start=HTML("<ul>"),
            ul_end=HTML("</ul>"),
            li_start=HTML("<li>"),
            li_end=HTML("</li>"),
        )}
    </p><br>

    <div class="report-downloads-table" id="report-downloads-table"
         data-endpoint="${ section_data['list_report_downloads_url'] }"></div>

</div>

%if settings.FEATURES.get('ENABLE_INSTRUCTOR_BACKGROUND_TASKS'):
<div class="running-tasks-container action-type-container">
    <hr>
    <h3 class="hd hd-3">${_("Pending Tasks")}</h3>
    <div class="running-tasks-section">
        <p>${_("The status for any active tasks appears in a table below.")} </p>
        <br/>
        <div class="running-tasks-table" data-endpoint="${ section_data['list_instructor_tasks_url'] }"></div>
    </div>
    <div class="no-pending-tasks-message"></div>
</div>
%endif

