<%page args="section_data" expression_filter="h"/>
<%namespace name='static' file='/static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from openedx.core.djangolib.markup import HTML, Text
%>

<!--value-->
<!--async-report-btn-->
<!--premissions python-->

<style>
    p{
        line-height: 2;
    }
    .override{
        width: 335px;
    }

</style>
<div style="padding:15px;width:50%; border: #0ca3f5 1px solid" class="data-download-container action-type-container">
<!--    <div class="request-response-error msg msg-error copy" id="data-request-response-error"></div>-->

    <div >

        <div style="margin-bottom: 5px">
            <label for="report-type">Report type</label><br>
            <select id="report-type"  style="width:315px;height: 34px">
                <optgroup label="Others">
                    <option value="gradingConfiguration" data-endpoint="${ section_data['get_grading_config_url'] }">
                        Grading Configuration
                    </option>
                    <option value="listAnonymizeStudentIDs" data-endpoint="${ section_data['get_anon_ids_url'] }"
                            class="${'is-disabled' if disable_buttons else ''}"
                            aria-disabled="${'true' if disable_buttons else 'false'}">Anonymized Student IDs
                    </option>
                    <option value="profileInformation" data-endpoint="${ section_data['get_students_features_url'] }"
                            data-csv="true">Profile Information
                    </option>
                    <option value="learnerWhoCanEnroll"
                            data-endpoint="${ section_data['get_students_who_may_enroll_url'] }" data-csv="true">Learner
                        who can enroll
                    </option>
                    <option value="proctoredExamResults"
                            data-endpoint="${ section_data['list_proctored_results_url'] }">Proctored exam results
                    </option>
                    <option value="surveyResultReport" data-endpoint="${ section_data['course_survey_results_url'] }">
                        Survey Result report
                    </option>
                </optgroup>
                <optgroup label="Problem">
                    <option value="problemResponses" data-endpoint="${ section_data['get_problem_responses_url'] }"
                            data-csv="true" data-problemrelated="true">Problem responses
                    </option>
                </optgroup>
                <optgroup label="certificates">
                    <option value="viewCertificates" data-csv="false"
                            data-endpoint="${ section_data['get_issued_certificates_url'] }">View certificates
                    </option>
                    <option value="download_certificates" data-csv="true"
                            data-endpoint="${ section_data['get_issued_certificates_url'] }">Download csv of
                        certificates
                    </option>
                    <option value="listEnrolledPeople" data-endpoint="${ section_data['get_students_features_url'] }">
                        list enrolled people
                    </option>
                </optgroup>
                <optgroup label="Grading">
                    <option data-graderelated="true" value="gradeReport"
                            data-endpoint="${ section_data['calculate_grades_csv_url'] }">
                        Grade report
                    </option>
                    <option data-graderelated="true" value="problemGradeReport"
                            data-endpoint="${ section_data['problem_grade_report_url'] }">
                        Problem Grade report
                    </option>
                    <option value="ORADataReport" data-graderelated="true"
                            data-endpoint="${ section_data['export_ora2_data_url'] }">ORA Data
                        report
                    </option>
                </optgroup>
            </select>
        </div>

        <div hidden='hidden' class="grade-related" style="height: 34px; margin-bottom: 10px">
             <label for="report-type">Learner status</label><br>
            <select style="width:inherit;height: 34px" >
                <option>Course Report: Verified Learners Only</option>
                <option>Course Report: All Learners</option>
                <option>Problem Report: Verified Learners Only</option>
                <option>Problem Report: All Learners</option>
            </select>
        </div>
        <br>
        <br>
        <div hidden='hidden' style="margin-bottom: 5px" class="problems problem-related">
            ${static.renderReact(
            component="ProblemBrowser",
            id="react-block-listing",
            props={
            "courseId": course.id,
            "excludeBlockTypes": ['html', 'video', 'discussion']
            }
            )}
        </div>

        <input  id="download-report" type="button" value="download report">



    </div>
    <div>
        <p class="selectionInfo gradingConfiguration">${_("Click to display the grading configuration for the course.\
            The grading configuration is the breakdown of graded subsections of the course \
            (such as exams and problem sets), and can be changed on the 'Grading' \
            page (under 'Settings') in Studio.")}</p>
        <p hidden="hidden" class="selectionInfo listAnonymizeStudentIDs">${_("Click to download a CSV of anonymized \
            student IDs:")}</p>

        <p hidden="hidden" class="selectionInfo reports"> ${_("For large courses, generating some reports can take \
            several hours. When report generation is complete, a \
            link that includes the date and time of generation appears in the table below. These reports are generated \
            in the background, meaning it is OK to navigate away from this page while your report is generating.")}</p>

        <p hidden="hidden" class="selectionInfo reports">${_("Please be patient and do not click these buttons \
            multiple times. Clicking these buttons multiple times will significantly slow the generation \
            process.")}</p>

        <p hidden="hidden" class="selectionInfo reports profileInformation">${_("Click to generate a CSV file of all \
            students enrolled in this course, along with profile information such as email address and username:")}</p>

        <p hidden="hidden" class="selectionInfo reports learnerWhoCanEnroll">${_("Click to generate a CSV file that \
            lists learners who can enroll in the course but have not yet done so.")}</p>

        <p hidden="hidden" class="selectionInfo reports proctoredExamResults">${_("Click to generate a CSV file of all \
            proctored exam results in this course.")}</p>

        <p hidden="hidden" class="selectionInfo reports surveyResultReport">${_("Click to generate a CSV file of \
            survey results for this course.")}</p>

        <p hidden="hidden" class="selectionInfo reports problemResponses">${_("Select a problem to generate a CSV file \
            that lists all student answers to the problem. You also select a section or chapter to include results \
            of all problems in that section or chapter.")}</p>
        <% max_entries = settings.FEATURES.get('MAX_PROBLEM_RESPONSES_COUNT') %>
        %if max_entries is not None:
        <p hidden="hidden" class="selectionInfo reports problemResponses">
            <strong>${_("NOTE")}: </strong>
            ${_("The generated report is limited to {max_entries} responses. If you expect more than {max_entries} " \
            "responses, try generating the report on a chapter-by-chapter, or problem-by-problem basis, or contact " \
            "your site administrator to increase the limit.").format(max_entries=max_entries)}
        </p>
        %endif

        <p hidden="hidden" class="selectionInfo viewCertificates">${_("Click to list certificates that are issued for \
            this course:")}</p>
        <p hidden="hidden" class="selectionInfo gradeReport">${_("For smaller courses, click to list profile \
            information for enrolled students directly on this page:")}</p>

        <p hidden="hidden" class="selectionInfo ORADataReport">${_("Click to generate a CSV grade report for all \
            currently enrolled students.")}</p>
    </div>
</div>

<div class="reports-download-container action-type-container">
    <div class="data-display-table profile-data-display-table" id="data-student-profiles-table"></div>
    <div class="request-response msg msg-confirm copy" id="report-request-response"></div>
    <div class="data-display-text" id="data-grade-config-text"></div>
    <div class="request-response-error msg msg-error copy" id="report-request-response-error"></div>
</div>

%if settings.FEATURES.get('ENABLE_INSTRUCTOR_BACKGROUND_TASKS'):
<div class="running-tasks-container action-type-container">
    <hr>
    <h3 class="hd hd-3">${_("Pending Tasks")}</h3>
    <div class="running-tasks-section">
        <p>${_("The status for any active tasks appears in a table below.")} </p>
        <br/>
        <div class="running-tasks-table" data-endpoint="${ section_data['list_instructor_tasks_url'] }"></div>
    </div>
    <div class="no-pending-tasks-message"></div>
</div>
%endif

<div class="report-downloads-table" id="report-downloads-table" data-endpoint="${ section_data['list_report_downloads_url'] }" ></div>
